@import url("http://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: left;
  font-family: Lato;
  color: #fff;
  background: #2e2c2c;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

.tabs {
  width: 850;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #4C4343;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #C48342;
}
.tabs .tab-content {
  z-index: 3;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #ed831c;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #ed831c;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}


select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:140px;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}

#select_blue {
  background-color:#3498DB;
}

#select_blue:hover {
  background-color:#2980B9;
}


select:focus, select:active {
  border:0;
  outline:0;
}


#green {
  background-color:#2ECC71;
}

#green:hover {
  background-color:#27AE60;
}

.Table
{
    display: table;
}
.Row
{
    display: table-row;
    background-color: #2e2c2c;
    width: 100%;
    height: 100px;
    font-size: 47px;
}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 47px;
}



select {
  margin: 5px;
   background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#2e2c2c;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:140px;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:white;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}

#select_blue {
  background-color:#2e2c2c;
}

#select_blue:hover {
  background-color: #2e2c2c;
}

select:focus, select:active select:hover{

border:0;
outline:0 !important;

}
.textox {
   width: 200px;
  /* height: 20px;*/
   border: solid 2px #2e2c2c;
   padding: 8px;
   margin: 3px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #2e2c2c;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
  }
.textox:hover  {
   border: 2px solid #2e2c2c;
  }
.textox:focus  {
   border: solid 2px #2e2c2c;
   box-shadow: inset 0px 1px 2px 0px #2e2c2c;
  }
.textox:active  {
   border: solid 2px #2e2c2c;
  }
.exit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.exit-btn { 
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
}
.exit-btn-1 {
    background: #2e2c2c;
    color: #fff;
    box-shadow: 0 6px #dd8500;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}

.save_button {
  margin: 5px;
  padding:5px;
}

.save_button:hover  {
   border: 2px solid #2e2c2c;
  }
.save_button:focus  {
   border: solid 2px #2e2c2c;
   box-shadow: inset 0px 1px 2px 0px #2e2c2c;
  }